<div class="course" [appCoursePlateBorder]="course.creationDate"
    [ngClass]="{'course-top-rated': course.isTopRated}">
    <div class="course__title">
        <div class="course__title-left">
            <div *ngIf="course.isTopRated" class="course__icon course__star"></div>
            <div *hourglass="course.duration" class="course__icon course__hourglass"></div>
            <div class="course__name">
                <p>{{course.title | uppercase}}</p>
            </div>
            <div class="course__control">
                <div>
                    <button class="course__button button-edit"
                        [routerLink]="[course.id]"></button>
                    <button class="course__button button-delete"
                            (click)="delete()"></button>
                </div>
            </div>
        </div>
        <div class="course__title-right">
            <div class="item-description">
                <p>{{course.duration | appDuration }}</p>
            </div>        
            <div class="item-date-and-duration">
                <p>{{course.creationDate | date:'dd.MMM.yy'}}</p>
            </div>
        </div>
    </div>
    <div class="course__description">
            <p>{{course.description}}</p>
    </div>
</div>