@import 'src/app/styles/variables/colors';

.course{
    background-color: $сolor-light;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 5px;
    padding: 4px 10px;
    min-width: fit-content;
    box-shadow: 2px 2px 5px 5px $сolor-lilac;

    &:hover {
        box-shadow: 1px 1px 15px 1px $сolor-purple-light-pink;
    }

    &-top-rated{
        background-color: $сolor-light-purple-background;
    }

    &__icon{
        background-position: center;
        background-repeat: no-repeat;
        margin-right: 5px;
        width: 23px;

        &.course__star{
            height: 20px;
            background-image: url(src\app\styles\images\star-regular.svg);
        }

        &.course__hourglass{
            height: 18px;
            margin-top: 2px;
            background-image: url(src\app\styles\images\hourglass-half-solid.svg);
        }         
    }

    &__description{
        font-size: 15px;
        margin: 15px 0;
    }

    &__title{
        color: $сolor-dark-voilet;
        display: flex;
        justify-content: space-between;
        flex-shrink: 1;

        &-left{
            display: flex;

            .course__name{
                font-size: 20px;
            }

            .course__control{
                display: flex;
                min-width: fit-content;
            }

            .course__button{
                cursor: pointer;
                
                &:focus{
                outline: none;
                }
            }    
    
            .course__button{
                margin-left: 10px;
                border: none;
                background-color: $сolor-light-voilet;
                background-size: 13px 13px;
                background-position: center;
                background-repeat: no-repeat;
                width: 20px;
                height: 20px;
                border-radius: 50%;

                &:hover {
                    background-color: $сolor-purple-pink;
                    box-shadow: 1px 1px 5px 1px $сolor-purple-light-pink;
                }

                &.button-delete{
                    background-image: url(src\app\styles\images\trash-alt-solid.svg);
                }

                &.button-edit{
                    background-image: url(src\app\styles\images\pencil-alt-solid.svg);
                }
            }
        }

        &-right{
            display: flex;
            font-size: 18px;
            padding-top: 3px;

            .item-description{
                margin-right: 10px;
            }
        }       
    }
}