@import 'src/app/styles/variables/colors';

.course{
    background-color: $сolor-light;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 5px;
    padding: 4px 10px;

    .course__description{
        font-size: 15px;
        margin: 15px 0;
    }

    .course__tietle{
        color: $сolor-dark-voilet;
        display: flex;
        justify-content: space-between;

        .course__tietle-left{
            display: flex;

            .course__name{
                font-size: 20px;
            }

            .course__change{
                display: flex;
            }

            .course__button:focus{
                outline: none;
            }
    
            .buttons-background{
                display: flex;
                position: relative;
                top: 3px;
                right: 46px;
    
                .background-delete{
                    margin-right: 16px;
                    width: 13px;
                    height: 14px;
                    background-image: url(src\app\styles\images\trash-alt-solid.svg);
                }
    
                .background-edit{
                    width: 13px;
                    height: 13px;
                    background-image: url(src\app\styles\images\pencil-alt-solid.svg);
                }
            }
    
            .course__button{
                color: $сolor-white;
                margin-left: 10px;
                border: none;
                background-color: $сolor-light-voilet;
                width: 20px;
                height: 20px;
                border-radius: 50%;
            }

        }

        .course__tietle-right{
            display: flex;
            font-size: 20px;
            padding-top: 3px;

            .item-description{
                margin-right: 10px;
            }
        }       
    }
}