@import 'src/app/styles/variables/colors';

.course{
    background-color: $сolor-light;
    box-sizing: border-box;
    margin: 20px 0;
    border-radius: 5px;
    padding: 4px 10px;
    min-width: fit-content;

    &__description{
        font-size: 15px;
        margin: 15px 0;
    }

    &__title{
        color: $сolor-dark-voilet;
        display: flex;
        justify-content: space-between;
        flex-shrink: 1;

        &-left{
            display: flex;

            .course__name{
                font-size: 20px;
            }

            .course__control{
                display: flex;
                min-width: fit-content;
            }

            .course__button{
                cursor: pointer;
                
                &:focus{
                outline: none;
                }
            }
    
            .buttons-background{
                display: flex;
                position: relative;
                top: 3px;
                right: 46px;
                cursor: pointer;
    
                .background-delete{
                    margin-right: 16px;
                    width: 13px;
                    height: 14px;
                    background-image: url(src\app\styles\images\trash-alt-solid.svg);
                }
    
                .background-edit{
                    width: 13px;
                    height: 13px;
                    background-image: url(src\app\styles\images\pencil-alt-solid.svg);
                }
            }
    
            .course__button{
                color: $сolor-white;
                margin-left: 10px;
                border: none;
                background-color: $сolor-light-voilet;
                width: 20px;
                height: 20px;
                border-radius: 50%;
            }

        }

        &-right{
            display: flex;
            font-size: 20px;
            padding-top: 3px;

            .item-description{
                margin-right: 10px;
            }
        }       
    }
}