<div class="registration">
    <div class="registration__content">
        <p class="registration__title">
            {{ 'PAGES.LOGIN_PAGE.REGISTRATION.REGISTRATION_TITLE' | translate }}
        </p>
        <div class="registration__block">
            <p class="registration__text">
                {{ 'PAGES.LOGIN_PAGE.REGISTRATION.FIRST_NAME' | translate }}
            </p>
            <div class="registration__fields registration__fields-input">
                <input class="registration__input fields"
                       placeholder="uour first name">
            </div>
        </div>
        <div class="registration__block">
            <p class="registration__text">
                {{ 'PAGES.LOGIN_PAGE.REGISTRATION.LAST_NAME' | translate }}
            </p>
            <div class="registration__fields registration__fields-input">
                <input class="registration__input fields"
                       placeholder="uour last name">
            </div>
        </div>
        <div class="registration__block">
            <p class="registration__text">
                {{ 'PAGES.LOGIN_PAGE.REGISTRATION.LOGIN' | translate }}
            </p>
            <div class="registration__fields registration__fields-input">
                <input class="registration__input fields"
                       placeholder="login">
            </div>
        </div>
        <div class="registration__block">
            <p class="registration__text">
                {{ 'PAGES.LOGIN_PAGE.REGISTRATION.PASSWORD' | translate }}
            </p>
            <div class="registration__fields registration__fields-input">
                <input class="registration__input fields"
                       type="password"
                       placeholder="password">
            </div>
        </div>
        <div class="registration__block">
            <p class="registration__text">
                {{ 'PAGES.LOGIN_PAGE.REGISTRATION.REPEAT_PASSWORD' | translate }}
            </p>
            <div class="registration__fields registration__fields-input">
                <input class="registration__input fields"
                       type="password"
                       placeholder="repeat password">
            </div>
        </div>
        <div class="registration__buttons">
            <div class="save__border-button">
                <button class="save__button button"
                        type="submit"
                        routerLink='/login'>
                        {{ 'PAGES.SAVE' | translate }}
                    </button>
            </div>
            <div>
                <button class="cancel-button__button button"
                        (click)="goBack()">
                        {{ 'PAGES.CANCEL' | translate }}
                    </button>
            </div>
        </div>
    </div>
</div>