<div class="courses-list">
  <app-course-control-panel (changeSearchText)="changeSearchText($event)"></app-course-control-panel>
  <ng-container *ngIf="(courses$ | async).length; else noCoursesBlock">
    <app-course *ngFor="let course of courses$ | async | appCoursesOrderBy : 'creationDate'"
                class="courses-list__course"
                [course]="course" 
                (deleteCourse)="onDelete(course)"></app-course>
    <button class="courses-list__button courses-list__block" (click)="loadMore()">
      {{ 'PAGES.COURSES_PAGE.COURSE_LIST.LOAD_MORE' | translate }}
    </button>
  </ng-container>
  <ng-template #noCoursesBlock>
    <div class="courses-list__block courses-list__no-data">
      <p>
        {{ 'PAGES.COURSES_PAGE.COURSE_LIST.NO_DATA' | translate }}
      </p>
    </div>
  </ng-template>
</div>