.courses-list-item-wrapper{

    border: 1px solid black;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;

    .item-header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
    }

    .item-body{
        display: flex;
        justify-content: flex-end;
        height: 100%;

        .item-description{
            width: 100%;
        }

        .item-buttons{
            margin-left: 10px;
            display: flex;
            height: fit-content;
        }
    }
}