<div class="course">
    <div class="course__tietle">
        <div class="course__tietle-left">
            <div class="course__name">
                <p>{{course.name}}</p>
            </div>
            <div class="course__change">
                <div>
                    <button class="course__button"></button>
                    <button class="course__button" (click)="delete()"></button>
                </div>
                <div class="buttons-background">
                    <div class="background-delete" (click)="delete()"></div>
                    <div class="background-edit"></div>
                </div>
            </div>
        </div>
        <div class="course__tietle-right">
            <div class="item-description">
                <p>{{course.length}}min</p>
            </div>        
            <div class="item-date-and-duration">
                <h1>{{course.date | date:'dd.MM.yy'}}</h1>
            </div>
        </div>
    </div>
    <div class="course__description">
            <p>{{course.description}}</p>
    </div>
</div>