<div class="courses-list-wrapper">
  <div class="courses-list-item-component">
    <coursesListItem></coursesListItem>
  </div>
  <div class="courses-list-item-component">
    <coursesListItem></coursesListItem>
  </div>
  <div class="courses-list-item-component">
    <coursesListItem></coursesListItem>
  </div>
  <div class="courses-list-item-component">
    <coursesListItem></coursesListItem>
  </div>
  <div class="courses-list-item-component">
    <coursesListItem></coursesListItem>
  </div>
  <div class="courses-list-item-component">
    <coursesListItem></coursesListItem>
  </div>
</div>