.courses-section-wrapper{
    
    display: flex;
    flex-direction: column;

    .search-component{
        width: 150px;
        padding: 5px;
        height: 40px;
        background-color: lightgrey;
    }

    .add-course-button{
        display: flex;
        justify-content: flex-end;

    }

}