<div class="course-duration">
    <div class="course-duration__block--horizontal">
        <p class="course-duration__text">
            {{ 'PAGES.COURSES_PAGE.COURSE_DESCRIPTION.COURSE_DURATION.DURATION_TITLE' | translate }}
        </p>
        <p *ngIf="duration.dirty &&
                  parentForm.get(_formControlName).invalid"
           class="course-duration__text-invalid">
           {{ 'PAGES.COURSES_PAGE.COURSE_DESCRIPTION.COURSE_DURATION.DURATION_VALUE_ERROR' | translate }}
        </p>
    </div>
    <div class="course-duration__time">
        <div class="course-duration__field">
            <input class="course-duration__input"
                [(ngModel)]="value"
                (input)=inputValidator($event)
                #duration="ngModel"
                placeholder="duation of the course in minutes"> 
        </div>
        <p *ngIf="value" 
            class="course-duration__text">
            {{value | appDuration}}</p>    
    </div>
</div>