<div class="course-duration">
    <div class="course-duration__block--horizontal">
        <p class="course-duration__text">Duration</p>
        <p *ngIf="parentForm.get(_formControlName).invalid && duration.touched"
           class="course-duration__text-invalid">
           Duration must be greater than 0</p>
    </div>
    <div class="course-duration__time">
        <div class="course-duration__field">
            <input class="course-duration__input"
                [(ngModel)]="value"
                (input)=inputValidator($event)
                #duration="ngModel"
                placeholder="duation of the course in minutes"> 
        </div>
        <p *ngIf="value" 
            class="course-duration__text">
            {{value | appDuration}}</p>    
    </div>
</div>