@import 'src/app/styles/variables/colors';

.breadcrumbs{
    height: 40px;
    padding: 10px 30px;
    background-color: $сolor-light-lilac;

    &__path{
        display: inline;
        font-size: 30px;  
        color: $сolor-dark-purple;
        cursor: pointer;
    }
}