$color-orange: orange; // You can use hex color, or other color + plus function
$color-main: transparentize($color-orange, 0.4);
$сolor-white: #fff;
$сolor-transparent: transparent;
$сolor-light: #fdfdfe;
$сolor-light-lilac: #f6f6fd;
$сolor-lilac: #edecf9;
$сolor-voilet: #1d159d;
$сolor-light-voilet:#919aef;
$сolor-dark-voilet: #101961;
$сolor-purple: #bf68d5;
$сolor-dark-purple: #3120b0;
$сolor-light-purple: #bcbce0;
$сolor-purple-pink: #cea9cf;
$сolor-purple-light-pink: #e8c2e9;
$сolor-blue-border: #98e1ea;
$сolor-green-border:  #d9e46a;
$сolor-light-purple-background: #fffef7;