@import 'src/app/styles/variables/colors';

.todo {
  &__title {
    color: $color-orange;
  }

  padding: 0px 30px;
}


.breadcrumbs{
    
    background-color: $сolor-light-lilac;
    height: 40px;
    padding: 10px 30px;
}