<div class="login">
    <form class="login__content" (ngSubmit)="login()"
          #loginForm="ngForm">
        <div>
            <p class="login__tietle bold">
                {{ 'PAGES.LOGIN_PAGE.LOGIN.LOGIN_TITLE' | translate }}
            </p>
        </div>
        <input class="login__input login__fields"
               [(ngModel)]="email"
               placeholder="email"
               required
               name="email">
        <input  class="login__input login__fields"
                [(ngModel)]="password"
                placeholder="password"
                type="password"
                required
                name="password">
        <button class="login__button login__fields"
                [disabled]="loginForm.invalid || loginForm.untouched" 
                type="submit">
                {{ 'PAGES.LOGIN_PAGE.LOGIN.SIGN_IN' | translate }}
            </button>
        <div class="login__text">
            <div><p><a href="#" class="link">
                {{ 'PAGES.LOGIN_PAGE.LOGIN.FORGOT_PASSWORD' | translate }} 
            </a></p></div>
            <div><p> 
                {{ 'PAGES.LOGIN_PAGE.LOGIN.DONT_HAVE_ACCOUNT' | translate }} 
                <span class="bold"><a routerLink="registration" routerLinkActive="active" class="link">
                    {{ 'PAGES.LOGIN_PAGE.LOGIN.REGISTER' | translate }}
                </a></span></p></div>
        </div>
    </form>
</div>