<div class="login">
    <form class="login__content" (ngSubmit)="login()"
          #loginForm="ngForm">
        <div>
            <p class="login__tietle bold">Nice to see you again!</p>
        </div>
        <input class="login__input login__fields"
               [(ngModel)]="email"
               placeholder="email"
               required
               name="email">
        <input  class="login__input login__fields"
                [(ngModel)]="password"
                placeholder="password"
                type="password"
                required
                name="password">
        <button class="login__button login__fields link" 
                type="submit">Sign in</button>
        <div class="login__text">
            <div><p><a href="#" class="link">Forgot Password</a></p></div>
            <div><p>Dont't have an account? <span class="bold"><a routerLink="registration" routerLinkActive="active" class="link">Get started</a></span></p></div>
        </div>
    </form>
</div>