<div class="confirmation-delete-modal">
    <div class="confirmation-delete-modal__container">
        <div class="confirmation-delete-modal__content">
            <div class="confirmation-delete-modal__text"><p>
                {{'SHARED.CONFIRMATION_DELETE_MODAL.DELETE_THIS_COURSE' | translate }}
            </p></div>
            <div class="confirmation-delete-modal__buttons">
                <div class="confirmation-delete-modal__border-button-yes">
                    <button class="confirmation-delete-modal__button-yes button"
                        (click)="onUsesAction(true)">
                        {{'SHARED.CONFIRMATION_DELETE_MODAL.YES' | translate }}
                    </button>
                </div>
                <button class="confirmation-delete-modal__button-no button"
                        (click)="onUsesAction(false)">
                        {{'SHARED.CONFIRMATION_DELETE_MODAL.NO' | translate }}
                    </button>
            </div>
        </div>
    </div>
    <div class="confirmation-delete-modal__background"></div>
</div>
    
