@import 'src/app/styles/variables/colors';

.content{
    min-height: 100%;
    height: fit-content;
    background-color: $сolor-light-lilac;

    &.hidden{
        overflow: hidden;
        position: fixed; 
    }

    &__top_block{
        min-height: fit-content;
        height: 100%;
        min-width: 460px;
        margin-bottom: 40px;
        background-color: $сolor-light-lilac;

        &_center{
            height: 100%;
            max-width: 1200px;
            margin: 0 auto;
        }

        &_sticky{
            position: sticky;
            top: 0;
        }
    }
    
    &__footer{
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
    }
}

