@import 'src/app/styles/variables/colors';

.content{
    height: 100%;
    background-color: $—Åolor-light-lilac;

    &__top_block{
        margin-bottom: 40px;

        &_center{
            max-width: 1200px;
            margin: 0 auto;
        }

        &_sticky{
            position: sticky;
            top: 0;
        }
    }
    
    &__footer{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}

