<div class="not-found-page">
    <div class="not-found-page__text">
        <div>
            <p class="not-found-page__text-title">
                {{ 'PAGES.NOT_FOUND_PAGE.PAGE_NOT_FOUND' | translate }}
            </p>
        </div>
        <div>
            <p class="not-found-page__text-link">
                <a class="not-found-page__link" routerLink=''>
                    {{ 'PAGES.NOT_FOUND_PAGE.GO_TO_MAIN_PAGE' | translate }}
                </a>
            </p>
        </div>
    </div>
</div>