@import 'src/app/styles/variables/colors';

.course-description{
    min-width: 510px;
    padding-bottom: 20px;

    &__text{
        color: $сolor-light-voilet;
        font-size: 15px;
        margin: 10px;

        &-invalid{
            font-size: 15px;
            margin: 10px;
            color: $сolor-red;
        }
    }

    &__block{
        margin-top: 20px;

        &--horizontal{
            display: flex;
            flex-direction: row;
        }

        &-checkbox{
            margin-left: 20px;
        }
    }

    &__checkbox{
        margin: 0;
        opacity: 0;

        &-checked{
            position: relative;
            right: 110px;
            top: 7px;
            width: 15px;
            height: 15px;
            background-image: url(src\app\styles\images\check-solid.svg);  
        }

        &-border{
            margin-top: 10px;
            width: 15px;
            height: 15px;
            border: solid 1px transparent;
            border-width: 1px;
            box-sizing: border-box;
            border-radius: 2px;
            background-image: linear-gradient($сolor-light-lilac, $сolor-light-lilac), 
                            linear-gradient(to right, $сolor-dark-purple, $сolor-purple);
            background-origin: border-box;
            background-clip: content-box, border-box;
        }
    }

    &__input{
        width: 350px;
        height: 35px;
    }

    &__textarea{
        width: 100%;
        resize: none;
        height: 200px;
    }

    &__fields{
        box-shadow: 0px 0px 5px 5px $сolor-lilac;
        border-radius: 5px;
        height: fit-content;

        &-description{
            height: 200px;
        }

        &-input{
            max-width: fit-content;
        }

        &:hover {
            box-shadow: 1px 1px 15px 1px $сolor-purple-light-pink;
        }
    }

    .fields{
        box-sizing: border-box;
        border: none;
        border-radius: 5px;
        outline: none;
        color: $сolor-dark-voilet;
        background-color: $сolor-light;
        cursor: text;
        padding: 10px;

        &.ng-invalid.ng-dirty{
            background-color: $сolor-pink;
            border: 1px solid $сolor-red;

            &::placeholder {
                color: $сolor-red;
            }
        }

        &::placeholder {
            color: $сolor-light-purple;
        }        
    }

    &__buttons{
        margin: 20px 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        .save__border-button{
            width: 120px;
            height: 35px;
            border: solid 1px transparent;
            border-width: 1px;
            box-sizing: border-box;
            border-radius: 5px;
            background-image: linear-gradient($сolor-light-lilac, $сolor-light-lilac), 
                            linear-gradient(to right, $сolor-dark-purple, $сolor-purple);
            background-origin: border-box;
            background-clip: content-box, border-box;
        }
    
        .save__button{
            border-color: $сolor-transparent;
            background-color: $сolor-transparent;
            width: 100%;
            height: 100%;
            color: $сolor-dark-voilet;

            &:disabled{
                border-radius: 5px;
                cursor: not-allowed;
                background-color: darken($сolor-light-lilac, 5%);
            }
        }
    
        .button{
            cursor: pointer;
    
            &:focus{
                outline: none;
            }
        }
    
        .cancel-button__button{
            margin-left: 10px;
            width: 120px;
            height: 35px;
            border: none;
            background-color: $сolor-light-voilet;
            border-radius: 5px;
            box-shadow: 2px 2px 5px 5px $сolor-lilac;
    
            &:hover {
                box-shadow: 1px 1px 10px 1px $сolor-light-purple;
            }
        }
    }
}