<div [formGroup]="courseDescription"
     class="course-description">
    <div class="course-description__block">
        <p class="course-description__text">Title</p>
        <div class="course-description__fields course-description__fields-input">
            <input class="course-description__input fields"
                   formControlName="title"
                   placeholder="Your title"
                   required>
        </div>
    </div>
    <div class="course-description__block">
        <p class="course-description__text">Description</p>
        <div class="course-description__fields">
            <textarea class="course-description__textarea fields"
                      formControlName="description"
                      placeholder="Your description"
                      required></textarea>
        </div>
    </div>
    <div class="course-description__block">
        <app-course-date [courseFormControlName]="'date'"
                         [courseFormGroup]="courseDescription"></app-course-date>
    </div>
    <div class="course-description__block">
        <app-course-duration [courseFormControlName]="'duration'"
                             [formGroupName]="courseDescription"></app-course-duration>
    </div>
    <div class="course-description__buttons">
        <div class="save__border-button">
            <button class="save__button button"
                    type="submit"
                    [disabled]="!courseDescription.valid">Save</button>
        </div>
        <div>
            <button class="cancel-button__button button" (click)="back()">Cancel</button>
        </div>
    </div>
</div>