<div [formGroup]="courseDescription"
     class="course-description">
    <div class="course-description__block">
        <div class="course-description__block--horizontal">
            <p class="course-description__text">Title</p>
            <p *ngIf="courseDescription.get('title').invalid &&
                      courseDescription.get('title').dirty &&
                      courseDescription.get('title').value.length > 0"
               class="course-description__text-invalid">Max length is 50</p>
            <p *ngIf="courseDescription.get('title').dirty &&
                      courseDescription.get('title').value.length === 0"
                class="course-description__text-invalid">This field is required</p>       
        </div>
        <div class="course-description__block--horizontal">
            <div class="course-description__fields course-description__fields-input">
                <input class="course-description__input fields"
                       formControlName="title"
                       [ngClass]="{'invalid':courseDescription.get('title').invalid &&
                                             courseDescription.get('title').value.length > 0}"
                       placeholder="Your title"
                       required>
            </div>
            <div class="course-description__block--horizontal course-description__block-checkbox">
                <label class="course-description__block--horizontal">
                    <div class="course-description__checkbox-border">
                        <input #isTopRated class="course-description__checkbox"
                               type="checkbox"
                               formControlName="isTopRated"> 
                    </div>
                    <p class="course-description__text">Is Top Rated</p>
                    <div *ngIf="courseDescription.value.isTopRated"
                         class="course-description__checkbox-checked"></div>
                </label>
            </div>
        </div>
    </div>
    <div class="course-description__block">
        <div class="course-description__block--horizontal">
            <p class="course-description__text">Description</p>
            <p *ngIf="courseDescription.get('description').invalid &&
                      courseDescription.get('description').dirty &&
                      courseDescription.get('description').value.length > 0"
               class="course-description__text-invalid">
               Max length is 500</p>
            <p *ngIf="courseDescription.get('description').dirty &&
                      courseDescription.get('description').value.length === 0"
                class="course-description__text-invalid">This field is required</p>       
        </div>
        <div class="course-description__fields course-description__fields-description">
            <textarea class="course-description__textarea fields"
                      formControlName="description"
                      [ngClass]="{'invalid':courseDescription.get('description').invalid &&
                                             courseDescription.get('description').value.length > 0}"
                      placeholder="Your description"
                      required></textarea>
        </div>
    </div>
    <div class="course-description__block">
        <app-course-date [parentForm]="courseDescription"
                         formControlName="date">
                         </app-course-date>
    </div>
    <div class="course-description__block">
        <app-course-duration formControlName="duration"
                             [parentForm]="courseDescription">
                             </app-course-duration>
    </div>
    <div class="course-description__block">
        <app-course-authors formControlName="authors"
                            [parentForm]="courseDescription">
                            </app-course-authors>
    </div>
    <div class="course-description__buttons">
        <div class="save__border-button">
            <button class="save__button button"
                    (click)="submit()"
                    [disabled]="courseDescription.invalid"
                    routerLink='/courses'>Save</button>
        </div>
        <div>
            <button class="cancel-button__button button"
                    (click)="goBack()">Cancel</button>
        </div>
    </div>
</div>